.chart .axis text {
	font-size: 10px;
}

.chart .axis path,
.chart .axis line {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
}


.dont .chart .axis.y .tick {
	display: none;
}


.chart rect {
	stroke: none;
	fill: #0088CC;
}

.chart rect:hover {
	fill: #2A6496;
}