.check {
	position:absolute;
	bottom:10px;
	right:10px;
	color:#428bca;
	font-size:400%;
}

.selected-tile {
	background-color:#d9edf7;
	border-color:#428bca;
}

.hidden {
	display: none;
}

.mblToolBarButton.fa {
	font-size: 150%;
	margin-top:8px;
	margin-bottom:4px;
}

#MDOJO_EMPLOYEES-wrapper .mblListItem {
	height: 62px;
}